@model EasyCooking.Models.ViewModels.RecipeViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-center flex-lg-row flex-md-column flex-sm-column ">
    <div class="image-box-details">
        @if (Model.Recipe.VideoUrl == null)
        {
            <img src="@Model.Recipe.ImageUrl" alt="Photo of Food" />
        }
        else
        {
            <iframe width="100%"
                    height="100%"
                    src="@Model.Recipe.VideoUrl"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowFullScreen 
                    ></iframe>
        }
    </div>
    <div class="description d-flex flex-column">
        <div>
            <h2>@Model.Recipe.Title</h2>
            <p>By: @Model.Recipe.Creator</p>
            <p>@Model.Recipe.Description</p>
        </div>
        <div style="padding-top: 50px;">
            <img src="~/Icons/icons8-facebook.svg" alt="Group Logo" /> 
            <img src="~/Icons/icons8-pinterest.svg" alt="Instagram Logo" />
            <img src="~/Icons/icons8-twitter-circled.svg" alt="Pintrest Logo" /> 
            <img src="~/Icons/icons8-instagram.svg" alt="Twitter Logo" /> 
        </div>
    </div>
    <div>
        <h4>Meal Info</h4>
        <div class="border rounded p-3">
            <ul class="list-unstyled">
                <li class="pb-2">Prep Time: @Model.Recipe.PrepTime</li>
                <li class="pb-2">Cook Time: @Model.Recipe.CookTime</li>
                <li class="pb-2">Total: @Model.Recipe.TotalTime</li>
                <li>Serves: @Model.Recipe.ServingAmount</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="div2">
        <div>
            <div class="d-flex justify-content-around pt-4">
                <h2>Ingredients</h2>
                @if (!(bool)ViewData["IsSubscribed"])
                {
                    var actionUrl = $"/Favorites/Create/{Model.Recipe.Id}";
                    <form action=@actionUrl method="get">
                        <input type="submit" id="btnSend" value="Favorite" />
                    </form>
                }
                else
                {
                    var actionUrl = $"/Favorites/Delete/{Model.Recipe.Id}";
                    <form action=@actionUrl method="get">
                        <input type="submit" id="btnSend" value="Unfavorite" />
                    </form>
                }
            </div>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Ingredient" asp-action="Create" asp-route-id="@Model.Recipe.Id"><input class="input-button" type="button" value="Add Ingredient" /></a>
            }
            else
            {
                <div></div>
            }
        </div>
        <table  class="ingredients-table">
            <tbody >
                @foreach (var item in Model.ingredients)
                {
                    <tr>
                        <td class="pb-2 pt-2 ">
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Ingredient", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", "Ingredient", new { id = item.Id })
                            </td>
                        }
                        else
                        {

                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="div3">
        <div class="d-flex justify-content-around pt-4">
            <h2 class="directions-h1">Directions</h2>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Step" asp-action="Create" asp-route-id="@Model.Recipe.Id"><input class="mb-2" type="button" value="Add a Step" /></a>
            }
            else
            {
                <div></div>
            }
        </div>
        <div class="direction-table">
            <ol>
                @foreach (var item in Model.steps)
                {
                    <li>
                        <p>
                            @Html.DisplayFor(modelItem => item.Content)

                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Edit |", "Edit", "Step", new { id = item.Id })
                                @Html.ActionLink(" Delete", "Delete", "Step", new { id = item.Id })
                            }
                            else
                            {
                                <div></div>
                            }
                        </p>
                    </li>
                }
            </ol>
        </div>
    </div>
</div>

    </dl>
<div>
    <div class="d-flex justify-content-around">
        <div>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Recipe.Id" class="btn btn-outline-primary mx-1" title="Edit">
                
            </a>
            <a asp-action="Delete" asp-route-id="@Model.Recipe.Id" class="btn btn-outline-primary mx-1" title="Delete">
                
            </a>
        }
        else
        {
            <div></div>
        }
            </div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
</div>


